h1
{
  font-family: 'Itim', cursive;
  color: green;
}

body {
  background-color: #66fcf1;
  color: #080806;
}
  

.img{
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(../images/images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100vw;
  max-height: 100vh;
  background-size: cover;
  

}
.gallery{
  margin-top: 10%;
}