{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>WAMBO'S GALLERY - {{title}}</title>
  {% else %}
    <title> WAMBO'S GALLERY </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/basenice.css' %}">
  {% endblock %}


</head>
<body>
    {% include "navbar.html" %}
    {% block content %} 

    <h1 class='text-center'>Welcome to WAMBO's Gallery!</h1>

    {%endblock%}

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript">function copyToClipboard(element) {var myVar = document.getElementById(element);myVar.select();document.execCommand("copy");}</script>

        {% bootstrap_javascript %}
    {% endblock %}

</body>
</html>


      

