{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>WAMBO'S GALLERY - {{title}}</title>
  {% else %}
    <title> WAMBO'S GALLERY </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/basenice.css' %}">
  {% endblock %}


</head>
<body>
    {% include "navbar.html" %}
    {% block content %} <h1 class='text-center'>SELECT FROM THIS CATEGORY:</h1> 
    <h3><button type="button" class="btn btn-link"> Nature</button> </h3>
    <h3><button type="button" class="btn btn-link"> clothing</button></h3>
    <h3><button type="button" class="btn btn-link"> City</button></h3>

   
    <h1 class='text-center'>SELECT FROM THIS LOCATION:</h1> 
    <h3><button type="button" class="btn btn-link">KENYA</button> </h3>
    <h3><button type="button" class="btn btn-link">UGANDA</button></h3>
    <h3><button type="button" class="btn btn-link">RWANDA</button></h3>
    {%endblock%}

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}

    {%endblock%}

</body>
</html>