{%extends 'all-nice/base.html'%}
{% block content %}
{{block.super}}
{% for image in images %}

   <!-- Modal -->
   <div class="modal fade" id="{{image.id}}" role="dialog">
    <div class="modal-dialog modal-lg image" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{image.name}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img src="{{image.image.url}}" alt="{{image.description}}" class="img-fluid">
                <br>
                <p>{{ image.description }}</p>
                <input class="form-control input-lg" type="text" value="{{image.image.url}}" id="{{image.id}}-url">
                <button class="btn btn-primary" onclick="copyToClipboard('{{image.id}}-url')">Copy Link</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
</div>

{%endfor%}

<div class="container">

    <div class="row">
      <img src="{{image.image.url}}"  class="img-responsive" alt="">
    </div>
 
    <div class="row">
      <h1 class="text-center">{{image.name}}</h1>
    </div>
 
    <div class="row">
      <p>{{image.description}}</p>
    </div>
 
     
  </div>

{% endblock %}



  